<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIcEtrm-s1U2YXuluG1TCwnDDOLtZEXAc</string>
	<key>GCM_SENDER_ID</key>
	<string>851893126068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cl.mrfor.MrFor</string>
	<key>PROJECT_ID</key>
	<string>mrfor-e309a</string>
	<key>STORAGE_BUCKET</key>
	<string>mrfor-e309a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851893126068:ios:ddafe4b62bc5a1dffea8e1</string>
</dict>
</plist>